@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

h1{
    text-align: center;
    margin: 0.6em;
    margin-bottom: 0.7em;
    font-family: 'Comfortaa', cursive;
}

#demo {
    margin-top: 1em;
}

.navbar {
    /* background-color: #f8f7b4;
    color: #065f06; */
    
    background-color: var(--bg, #b3e5fc);
    color: var(--main, #37474f);
}

.container {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

textarea {
    white-space: pre-wrap;
}



/* Header of every page */
.top-btn {
    margin-left: 25%;
    margin-right: 10%;
}

#bookId {
    /* border: 1px solid #15be3a; */
     border: 1px solid var(--main);
}

#bookId:focus {
    /* box-shadow: 0 0 0 0.2rem #15be3a40; */
    box-shadow: 0 0 0 0.2rem var(--search-highlight, #37474f);
}

#genreSelect {
    margin: auto;
    width: 25%;
    border: 1px solid var(--main);
}

#genreSelect:focus {
    box-shadow: 0 0 0 0.2rem var(--search-highlight, #37474f);
}



/* Book cards */
.card-columns {
    column-count: 4;
}

.card {
    display: inline-block;
}

.card-body {
    padding: 0.5em;
}

.card-title {
    text-align: center;
    font-size: medium;
    margin-bottom: 0.2em;
}

.card-author {
    margin-bottom: 0;
    font-size: small;
}


/* media queries */
@media screen and (max-width: 1200px){
    .card-columns {
        column-count: 4;
    }
}

@media screen and (max-width: 992px){
    .card-columns {
        column-count: 3;
    }
}

@media screen and (max-width: 767px){
    .card-columns {
        column-count: 2;
    }
    .top-btn {
        margin: auto;
    }
}


/* star rating */
.star-outer {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}

.star-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.star-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc
}

.star-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b
}

.number-rating {
    padding-left: 0.3em;
    font-size: small;
}



/* Individual details */
.img-fluid {
    width: auto;
    max-height: 23em;
}

hr {
    /* margin: auto;
    margin-bottom: 20px; */
    margin: 20px auto;
    /* width: 20%; */
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(88, 88, 88, 0), rgba(88, 88, 88, 0.75), rgba(88, 88, 88, 0));
}

.right {
    text-align: right;
}

.price {
    color: red;
    font-weight: bold;
    font-size: large;
}

.descJustify {
    text-align: justify;
}

.btn-left {
    float: left;
}


/* Comments */
.list-group {
    width: 80%;
    margin: auto;
    /* margin-top: 10px; */
}

.commentSection {
    margin-top: 10px;
    padding: 2em 0;
    background-color: rgb(247, 243, 243);
}

.badge {
    line-height: normal;
    background-image: radial-gradient(circle, var(--bg), var(--bg), var(--search-highlight));
    color: var(--main);
    border-radius: 15px;
    padding: 10px 15px;
}

.commentHeading {
    margin: auto;
    font-weight: bold;
}



/* footer */
/* footer {
    background-color: #f8f7b4;
}

.info p {
    margin-bottom: 0;
}

.info span {
    font-size: small;
    font-style: italic;
} */



/* Toggle Button */
.tgl {
    display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}
.tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #02C66F;
    transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
    background: #7FC6A6;
    content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
    transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: #FF3A19;
}
.tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg);
}
